AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
BasedOnStyle: LLVM
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
ColumnLimit: 120
IndentCaseLabels: false
IndentWidth: 4
