AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BasedOnStyle: LLVM
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
ColumnLimit: 120
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentWidth: 4
SpaceInEmptyBlock: true
