Checks: >
    *,
    -abseil*,
    -google*,
    -fuchsia*,
    -llvm*,
    -hicpp*,
    -modernize-use-trailing-return-type,
    -readability-braces-around-statements,
    -readability-redundant-access-specifiers,
    -readability-implicit-bool-conversion,
    -readability-uppercase-literal-suffix,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
CheckOptions:
    - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: '1'
